node_modules
dist
build

*.tsbuildinfo

*.pem
.dev.vars
.env
.env.me
.env.vault
env.d.ts

.turbo
.astro
.wrangler
.DS_Store
.vscode
.partykit
vite.config.ts.timestamp-*.js
vite.config.ts.timestamp-*.mjs
zero-schema.json